body {
	background-color: #a8ff64;
}
h2 {
	margin: 70px 0px 0px 0px;
	padding: 15px 0px 5px 15px;
	border-style: solid;
	border-color: white;
	border-radius: 15px 0 0 0;
	box-shadow: inset 0 10px 20px aliceblue;
	background-color: hsla(186, 100%, 96.1%, 0.43);
}
nav {
	/*浮動元素的父元素調整*/
	overflow: auto;
	width:100%;
}

#current-coll-addList{
	/*新增清單表單置右*/
	display:inline;
	float: right;
}

#current-coll-addList select{
	background-color: #f7f9f8;
	border: 2px solid #9dff51;
	border-radius: 20px 0 0 20px;
	color:#b7b74e;
	text-align: right;
}
#current-coll-addList input{
	background-color: #fff;
	border: 3px solid #9dff51;
	color: limegreen;
}
#nav-current-collection{
	/*調整成與連結左右margin一樣*/
	margin:0 0.5em 0 0.5em;
}
nav ul {
	margin:0;
	padding:0;
}
nav li {
	display: inline;
}
/*去縮排，對齊左邊*/
#subele>ul>li {
	margin:5px 5px 5px -40px;
}

ul{
	margin:0;
	list-style-type:none;
}

.add-new-collection{
	margin-right:10px;
}

ul .add-new-collection {
	margin-left: 45px;
}
.add-new-collection input{
	width:100%;
	margin: 5px 0 0 0;
	background-color: rgba(255,255,255,0.7);
	border:2px solid white;
	border-radius: 5px;
}
.add-new-collection input:hover,.add-new-collection input:focus{
	box-shadow: 0 0 8px 2px gold;
}

#message-board{
	margin:0;
}
li{
		margin: 5px 0 5px 0;
}
a{
		margin:0 0.5em 0 0.5em;
		text-decoration: none;
}


.collection {
	background-color: forestgreen;
	overflow: auto;
	width: 100%;
	border-top: 3px #2fce88 solid;
	border-bottom: 3px #3e5505 solid;
	line-height: 2.2em;
}
.collection:hover {
	background-color: #6f7695;
}

.collection a:link{
		color: white;
}

.collection a:hover{
	text-shadow: 0px 0px 1px white;
}

.collection a:visited{
	color: #ece444;
	text-shadow: 0px 0px 1px white;
}


.control {
	display:inline-block;
	float:right;
}
.control select {
	background-color: transparent;
	border: 2px solid white;
	border-radius: 20px 0 0 20px;
	color: white;
	text-align: right;
}
.control input {
	font-weight: bold;
	width: 30px;
	border-radius: 0 5px 5px 0;
	border: 2px solid white;
	height: 27.3px;
	background-color: white;
	color: green;
}
.collection form{
	display: inline;
}

.list {
	background-color: white;
	
}

.type {
	border-style: solid;
	border-radius: 0 10px 10px 0;
	border-color: #9dff51;
	padding: 0 5px;
	color: #b7b74e;
}

.list a{
	color: limegreen;
	text-shadow: 0px 0px 1px pink;
}

.list a:hover{
	color:#ec2346;

}

.control form{
	float: left;
}
.edit-button {
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	float: left;
	background-image: url(../img/edit.png);
	background-size: 25px;
}
.delete-button {
	float: left;
}

/* dynamic */
.hide {
	display:none;
}

.active{
	background: #cec7f2;
}
