body{
	background-color:#4c0e77;
	color: white;
	background-image:url(../img/logo_subtitle.png);
	background-repeat: no-repeat;
	background-position: center 100px;
	background-size: 360px;
}
h3{
	margin-top:0;
	margin-bottom:5px;
	color:#fd008d;
	text-align: center;
}
			form{
				margin: 300px auto 0px;
				width: 400px;
			}
			div {
				text-align: center;
				margin: 5px;
			}
			label {
				font-size: 1.125em;
				text-align:right;
				width:10em;
				margin-right:10px;
			}
a {
	color:white;
}

/* dynamic */
.pass {
	color: #14e697;
}

.try-again:hover{
	text-decoration: underline;
}
