a {
	margin: 0 0.5em 0 0.5em;
	text-decoration: none;
}
#default-functions {
	width: 80%;
	margin: auto;
}
#default-functions> div {
	margin-top:110px;
	width: 50%;
	height: 300px;
	float: left;
	min-width: 300px;
}

#file{
	clear:left;
	background-image:url(../img/folder.png);
	background-position: center center;
	background-repeat: no-repeat;
}

#quick-start {
	background-image:url(../img/blank_paper.png);
	background-position: center center;
	background-repeat: no-repeat;
}
.fuction-content{
	width:300px;
	margin:auto;
}

h3 {
	border-width: 0 0 2px 0;
	border-style: solid;
}
