body {
	background-color: #e1f4bc;
}
h2 {
	margin: 70px 0px 0px 0px;
	padding: 15px 0px 5px 15px;
	border-style: solid;
	border-color: white;
	border-radius: 15px 0 0 0;
	box-shadow: inset 0 10px 20px aliceblue;
	background-color: hsl(187.5, 96.3%, 57.5%);
}

#head{
	border:solid white;
	border-top-width:0px;
	background-color: #1e7384;
}

#head .edit-button {
 margin:0 5px;
}

nav {
	/*浮動元素的父元素調整*/
	overflow: auto;
	width:100%;
}

#current-list-addItem{
	/*新增清單表單置右*/
	display:inline;
	float: right;
}

#nav-current-item	{
	/*調整成與連結左右margin一樣*/
	margin:0 0.5em 0 0.5em;
}
nav ul {
	margin:0;
	padding:0;
}
nav li {
	display: inline;
}
.add-new-item {
	margin-right:10px;
}
ul .add-new-item{
	margin-left:45px;
}
.add-new-item input {
	width: 100%;
	margin: 5px 0 0 0;
	background-color: rgb(238, 228, 229);
	border: 2px solid #f9f9f9;
	border-radius: 5px;

}
.add-new-item input:hover, .add-new-item input:focus{
	box-shadow: 0 0 5px #eb00ff;
}

#message-board{
	margin:0;
}
/*去縮排，對齊左邊*/
body>ul>li {
	margin:5px 5px 5px -40px;
}

ul{
	list-style-type:none;
}

li{
		margin: 5px 0 5px 0;
}

a{
		margin:0 0.5em 0 0.5em;
		text-decoration: none;
}

.item{
	background-color: white;
	overflow: auto;
	padding: 0 0 0 10px;
}

/*item showing info*/
input[type="checkbox"]{
	margin-top:10px;
}

.title-link {
	/* float: left; */
	line-height: 2em;
}

.item a {
	color: hsl(187.5, 100%, 39.2%);
	text-decoration: none;
}

.item a:hover{
	color:#eb00ff;
	text-decoration: none;
		
}

label {
	width: 4.5em;
	float: left;
	text-align: right;
	margin-right: 3px;
}

[name="note"]{
	width:80%;
}

div[class$="edit"] {
	width: 100%;
}

.edit-button {
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	float: left;
	background-image: url(../img/edit_blue_purple.png);
	background-size: 50px;
	
}
.edit-button:hover{
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	float: left;
	background-position:25px 0px;
	background-size: 50px;
}
.delete-button {
	margin-top: 4px;
	float: left;
}

div[class$="control"]{
	display: inline-block;
	float: right;
}

.item form{
	display: inline;
}

.checkbox {
	border: 1px solid #d0c9c9;
	padding: 0;
	line-height: 10px;
	width: 20px;
	height: 20px;
	color: white;
	background-color: white;
	border-radius: 5px;
	font-weight: bold;
}
.checkbox:hover{
	color: orange;
	border-color:orange;
}
.checkbox.checked {
	border: 0px;
	color: #fdfdfd;
	background-color: orange;
}
.checkbox:hover{
	color: orange;
}
/*turn bg-color for checked items*/
.checked{
	background-color: #664b4b12;
}

/*dynamic*/

.hide {
	display:none;
}
