@import 'main-color.css';
body {
	background-color: var(--main-list-bg);
}
h2 {
	margin: 70px 0px 0px 0px;
	padding: 15px 0px 5px 15px;
	border-radius: 15px 0 0 0;
	box-shadow: inset 0 10px 20px aliceblue;
	background-color: hsl(182.8, 100%, 70.5%);
	color: #185766;
}

#head{
	background-color: #1e7384;
}
#head label{
	color: aliceblue;
}

#head .edit-button {
 margin:0 5px;
}

nav {
	overflow: auto;
	width:100%;
}

#current-list-addItem{
	display:inline;
	float: right;
}

#nav-current-item	{
	margin:0 0.5em 0 0.5em;
}
nav ul {
	margin:0;
	padding:0;
}
nav li {
	display: inline;
}
.add-new-item {
	margin-right:10px;
}
ul .add-new-item{
	margin-left:45px;
}
.add-new-item input {
	width: 100%;
	margin: 5px 0 0 0;
	background-color: rgb(238, 228, 229);
	border: 2px solid #f9f9f9;
	border-radius: 5px;

}
.add-new-item input:hover, .add-new-item input:focus{
	box-shadow: 0 0 5px #eb00ff;
}

#message-board{
	margin:0;
}
#subitems>ul>li {
	margin:5px 5px 5px -40px;
}

ul{
	margin:0;
	list-style-type:none;
}
.subitems{
	padding-bottom:5px;
	border: 2px solid var(--main-list-bg);
}

li{
		margin: 5px 0 5px 0;
}

a{
		margin:0 0.5em 0 0.5em;
		text-decoration: none;
}

.item{
	background-color: white;
	overflow: auto;
	padding: 0 0 0 10px;	
}
.item-placeholder{
	background-color: #f9d38b;
}

/*item showing info*/
input[type="checkbox"]{
	margin-top:10px;
}


.item a {
	color: hsl(187.5, 100%, 39.2%);
	text-decoration: none;
}

.item a:hover{
	color:#eb00ff;
	text-decoration: none;
		
}
.edit-form{
	line-height: 2em;
}

label {
	width: 4.5em;
	float: left;
	text-align: right;
	margin-right: 3px;
}

[name="note"]{
	width:80%;
}
.drag-handle {
	width: 27px;
	height: 27px;
	margin: 5px 5px;
	float: left;
	background-image: url(../img/drag_handle_blue_purple.png);
	background-size: 54px;
	background-position: left center;
}
.drag-handle:hover {
	background-image: url(../img/drag_handle_blue_purple.png);
	background-position: 27px 0px;
}
.edit-button {
	width: 25px;
	height: 25px;
	margin: 5px 5px;
	float: left;
	background-image: url(../img/edit_blue_purple.png);
	background-size: 50px;
}
.edit-button:hover{
	background-position:25px 0px;
	background-size: 50px;
}
.delete-button {
	/*margin-top: 4px;*/
	float: left;
}

.control{
	display: inline-block;
	float: right;
}

.item form{
	display: inline;
}

.checkbox {
	border: 1px solid #d0c9c9;
	padding: 0px;
	margin-right:5px;
	line-height: 10px;
	width: 20px;
	height: 20px;
	color: white;
	background-color: white;
	border-radius: 5px;
	font-weight: bold;
}
.checkbox:hover{
	color: orange;
	border-color:orange;
}
.checkbox.checked {
	border: 0px;
	color: #fdfdfd;
	background-color: orange;
}
.checkbox:hover{
	color: orange;
}
/*turn bg-color for checked items*/
.checked {
	background-color: #d0e3c5;
}
/*dynamic*/

.hide {
	display:none;
}
