<!Doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>file</title>
		<link href="" type="text/css" rel="stylesheet"/>
		<style>
			form{
				margin: 0 auto;
				width: 600px;
			}			
			div {
				text-align: center;
				margin: 5px;
			}
		</style>
	</head>
</html>
<body>
<form action="create_user.php" method="post">
	<fieldset>
		<legend>Sign up</legend>
		<div>
		<label for="username">username</label>
		<input type="text" name="username" />
		</div>
		<input type="file">
		<div>
		<label for="email">email</label>
		<input type="text" name="email" />
		</div>
		<div>
		<input type="submit" value="OK"/>
		</div>
</form>
</body>
