<!Doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>file</title>
		<link href="" type="text/css" rel="stylesheet"/>
		<style>
			form{
				margin: 0 auto;
				width: 400px;
			}
			div {
				text-align: center;
				margin: 5px;
			}
			label {
				text-align:right;
				width:10em;
				margin-right:10px;
			}

		</style>
	</head>
</html>
<body>
<form action="sign_in.php" method="post">
	<fieldset>
		<legend>Sign in</legend>
		<div>
		<label>username</label>
		<input type="text" name="username" />
		</div>
		<div>
		<label>password</label>
		<input type="password" name="password"/>
		</div>
		<div>
		<input type="submit" value="submit"/>
		</div>
</form>
</body>
